{% extends "registration/base.html" %}

{% load i18n %}
{% load static %}

{% block title %} {% trans 'Password reset' %} {% endblock %}

{% block content %}
  <h2>{% trans 'Reset password' %}</h2>
  <form method="post">
    {% csrf_token %}
    <label for="id_email">Email</label>
    <input type="email" name="email" autocomplete="email" maxlength="254" required id="id_email" placeholder="{% trans 'Enter your email' %}">
    <button type="submit">{% trans 'Reset password' %}</button>
    <p class="login-back">Back to <a href="{% url 'login' %}">login</a></p>
  </form>
{% endblock %}