{% extends "registration/base.html" %}

{% load i18n %}
{% load static %}

{% block title %} {% trans 'Password reset' %} {% endblock %}

{% block content %}
  <p>{% trans 'We have emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.' %}</p>
  <p>{% trans 'If you do not receive an email, please make sure you have entered the address you registered with, and check your spam folder.' %}</p>
  <p class="login-back">Back to <a href="{% url 'login' %}">login</a></p>
{% endblock %}