*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
	background: #2b323c;
}

.container {
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container a {
    text-decoration: none;
    color: white;
    font-size: 1.17em;
}

.container h1 span {
    color: #10f0de;
}

.container h3 {
    font-size: 30px;
    color: #fff;
    text-align: center;
}

.container button {
    background: #10f0de;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    margin: 10px 0;
}

footer {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	text-align: center;
	color: #fff;
	padding: 10px;
}

footer a {
    text-decoration: none;
    color: white;
}

footer nav ul li {
	display: inline;
	font-size: 10px;
}

footer nav ul li a {
	margin: 0px 2.5px;
}

footer nav ul li a:hover {
	color: #10f0de;
}

h4 {
    font-family: 'Poppins', sans-serif;
    font-size: 2em;
    color: #fff;
    text-justify: center;
    align-items: center;
}

#countdown {
    font-family: 'Poppins', sans-serif;
    font-size: 3.5em;
    color: #10f0de;
    font-weight: bold;
    text-justify: center;
    align-items: center;
}