{% load i18n %}
<!DOCTYPE html>
<html lang="en-us">
<head>
    {% load static %}
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, user-scalable=no">
	<title>{% trans "Contato" %} | fmartns.dev</title>
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
	<meta name="description" content='{% trans "fmartns.dev | Your platform for storing links and your daily technology news portal." %}'>
	<meta name="author" content="Filipe Martins">
	<link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
	<!-- Tags Open Graph -->
	<meta property="og:title" content='{% trans "fmartns.dev | Technology portal" %}'>
	<meta property="og:description" content='{% trans "fmartns.dev | Your platform for storing links and your daily technology news portal." %}'>
	<meta property="og:image" content="{% static 'img/banner.png' %}">
	<meta property="og:url" content="https://fmartns.dev">
	<meta property="og:type" content="site">
	<!-- Tags do Twitter Card -->
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:site" content="@fmartnss">
	<meta name="twitter:title" content='{% trans "fmartns.dev | Technology portal" %}'>
	<meta name="twitter:description" content='{% trans "fmartns.dev | Your platform for storing links and your daily technology news portal." %}'>
	<meta name="twitter:image" content="{% static 'img/banner.png' %}">
</head>
<body>
    <header>
        <a href="{% url 'index' %}"><h1>fmartns<span>.dev</span></h1></a>
    </header>
    <main>
        <div class="error-container">
            <h2>404</h2>
            <p>{% trans 'Page not found' %}</p>
        </div>
    </main>
    <footer>
		<nav>
			<ul>
				<li><a href="{% url 'index' %}">{% trans 'Home' %}</a></li>
				<li><a href="{% url 'dashboard' %}">{% trans 'Panel' %}</a></li>
				<li><a href="{% url 'login' %}">{% trans 'Login' %}</a></li>
				<li><a href="{% url 'register' %}">{% trans 'Register' %}</a></li>
				<li><a href="{% url 'contact' %}">{% trans 'Contact' %}</a></li>
				<li><a href="{% url 'terms' %}">{% trans 'Terms' %}</a></li>
			</ul>
		</nav>
	</footer>
</body>
</html>