{% extends "dashboard/base.html" %}

{% load i18n %}
{% load static %}

{% block meta_tags %}
    <meta name="robots" content="noindex">
    <meta name="description" content="{% trans 'Administrative Panel - fmartns.dev | Technology Portal and Link Portfolio.' %}">
    <meta name="keywords" content="{% trans 'Filipe Martins, fmartns.dev, Dashboard, Access, Security, Authentication, Programming, Development, Python, Technology, Computer Science' %}">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:title" content="{% trans 'Administrative Panel - fmartns.dev' %}">
    <meta property="og:description" content="{% trans 'Administrative Panel - fmartns.dev | Technology Portal and Link Portfolio.' %}">
    <meta property="og:url" content="https://www.fmartns.dev/accounts/login/">
    <meta property="og:image" content="https://i.imgur.com/VGp4sE3.png">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:title" content="{% trans 'Administrative Panel - fmartns.dev' %}">
{% endblock %}

{% block title %} {% trans 'Dashboard' %} {% endblock %}

{% block content %}
<h4>{% trans 'Administration Panel' %}</h4>

<div class="row">
  <div class="col-md-6">
    <a href="{% url 'social_media_list' %}">
      <div class="p-3 bg-light">
          <h3><i class="bi bi-archive-fill mr-2"></i>{% trans 'Social Medias' %}</h3>
          <p>{% trans 'Check, add and delete social medias.' %}</p>
      </div>
    </a>
  </div>
</div>
{% endblock %}
