{% extends "dashboard/base.html" %}

{% load i18n %}
{% load static %}

{% block meta_tags %}
    <meta name="robots" content="noindex">
    <meta name="description" content="{% trans 'Change Password - fmartns.dev | Technology Portal and Link Portfolio.' %}">
    <meta name="keywords" content="{% trans 'Filipe Martins, fmartns.dev, Dashboard, Access, Security, Authentication, Programming, Development, Python, Technology, Computer Science' %}">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:title" content="{% trans 'Change Password - fmartns.dev' %}">
    <meta property="og:description" content="{% trans 'Change Password - fmartns.dev | Technology Portal and Link Portfolio.' %}">
    <meta property="og:url" content="https://www.fmartns.dev/accounts/login/">
    <meta property="og:image" content="https://i.imgur.com/VGp4sE3.png">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:title" content="{% trans 'Change Password - fmartns.dev' %}">
{% endblock %}

{% block title %} {% trans 'Dashboard' %} {% endblock %}

{% block content %}
  <h4>{% trans 'Change password' %}</h4>
  <form method="post">
    {% csrf_token %}
    {% for field in form %}
      <div class="form-group">
        <label for="{{ field.auto_id }}">{{ field.label }}</label>
        <input type="password" id="{{ field.auto_id }}" name="{{ field.html_name }}" value="{{ field.value|default_if_none:'' }}" placeholder="{{ field.label }}" class="form-control" />
        {% for error in field.errors %}
          <div class="error-warn">{{ error }}</div>
        {% endfor %}
      </div>
    {% endfor %}
    {% if messages %}
      {% for message in messages %}
        <div class="error-warn">{{ message }}</div>
      {% endfor %}
    {% endif %}
    <button class="btn btn-primary" type="submit">{% trans 'Save' %}</button>
  </form>
{% endblock %}
